/*
background: #ECEDEF
type: #000000
boxes: #FFFFFF
highlight (yellow): #F9DC4A
links:
  default: #2C81D0
  visited: #778CCC
  active: #0031C5
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ECEDEF;
}
header { /* had to move "background-color" below padding & margin for any of the settings to show up in a browser. ¯\_(ツ)_/¯*/
  padding: 25px 30px 10px;
  /*margin-bottom: 10px;*/
  background-color: #F9DC4A;
  box-shadow: 0px 4px 5px 0px rgba(249, 220, 74, 0.75);
  border-bottom: 2px solid #FFFFFF;
  position: fixed;
  background-color: #ECEDEF;
  width: 100%;
}
@font-face {
  font-family: DMSerifDisplayr;
			 src: url('../font/DMSerifDisplay-Regular.ttf');
}
}
@font-face {
  font-family: Poppins;
			 src: url('../font/Poppins-Light.ttf');
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: DMSerifDisplay;
  font-size: 2em;
}

h2 {
  font-family: Poppins;
  font-size: 2.25em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: Poppins;
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
}
h4 {
  font-family: Poppins;
  font-size: 1.35em;
  font-weight: 400;
}
p {
  font-family: Poppins;
}
img {
  width: 100%;
}
a {
  font-family: Poppins;
  color: #2C81D0;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #000000;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: #000000;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #000000;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F9DC4A;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  border-bottom: 0px solid #994c30; /* width of the border, type, color */
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover{
  background-color: #FFFFFF
  color: #000000;
  opacity: 0.7;
}
.button.contact {
  background-color: #2C81D0;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}
.button.contact:hover {
  background-color: ##0031C5;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}
.button.contact:active {
  background-color: ##0031C5;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}
/* Layout Styling */
/*header {
  box-shadow: 0px 4px 5px 0px rgba(249, 220, 74, 0.75);
  position: fixed;
  background-color: #ECEDEF*/
}

.row {
  margin: 25px 0px; /* 25px top and bottom, 0 left and right */

}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#hero {
  text-align: center;
}
.logo {
  max-width: 150px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}
.navtoggle.responsive li  {
display: block;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li {

}
nav > ul > li > a {
  padding: 0 12px;
  text-transform: uppercase;
  color: #000000;
}
nav > ul > li > a:visited {
  padding: 0 20px;
  text-transform: uppercase;
  color: #000000
}
#hero {
  background-color: #F9DC4A;
  padding: 15px;
  display: inline-block;
}
#hero h1 {
  margin: 0;
  padding: 0.5em 0;
}
main {
  padding-top: 56px;
}
.container {
  padding: 15px;
  margin: 0px;
  max-width: 1200px;
  overflow: auto;
}
.project{
  padding: 10px;
  margin: 20px;
  background-color: white;
  max-width: 95%;
  overflow: auto;
}
.footainer {
  padding: 10px;
  margin: 20px;
  background-color: white;
  max-width:75%;
  text-align: center;
  overflow: auto;
}
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 15 13px;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
  }
  .navtoggle li:last-child {
  display: none;
  }
  nav {
    width:auto;
    float: right;
    margin-top: -6px
  }
  nav > ul {
  margin: 1em 0;
}
  nav > ul > li {
    display: inline-block;
  }
  main {
    padding-top: 81px;
  }
  p {
  font-size: 18px
  }
  #hero span {
    display:block;
  }
  .col-md-6 {
    width: 50%;
  }
  .logo {
    max-width: 250px;
}
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 15 13px
  }
  nav {
    width:auto;
    float: right;
    margin-top: -6px
  }
  main {
    padding-top: 81px;
  }
  p {
  font-size: 18px
  }
  #hero span {
    display:block;
  }
  .col-lg-7 {
    width: 50%;
  }
}
@media only screen and (min-width: 1440px) {
}
[class*="col-"] {
  float: left
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #000000;}
}
.sun {
  animation-duration: .5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 3s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 4s cloud-move-reverse infinite alternate linear;
}
