/*
background: #ECEDEF
type: #000000
boxes: #FFFFFF
highlight (yellow): #F9DC4A
links:
  default: #2C81D0
  visited: #778CCC
  active: #0031C5
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ECEDEF;
}
header { /* had to move "background-color" below padding & margin for any of the settings to show up in a browser. ¯\_(ツ)_/¯*/
  padding: 25px 30px 10px;
  /*margin-bottom: 10px;*/
  background-color: #F9DC4A;
  box-shadow: 0px 4px 5px 0px rgba(249, 220, 74, 0.75);
  border-bottom: 2px solid #FFFFFF;
  position: fixed;
  background-color: #ECEDEF;
  width: 100%;
}
@font-face {
  font-family: DMSerifDisplayr;
			 src: url('../font/DMSerifDisplay-Regular.ttf');
}
}
@font-face {
  font-family: Poppins;
			 src: url('../font/Poppins-Light.ttf');
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: DMSerifDisplay;
  font-size: 2em;
}

h2 {
  font-family: Poppins;
  font-size: 2.25em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: Poppins;
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
}
h4 {
  font-family: Poppins;
  font-size: 1.35em;
  font-weight: 400;
}
p {
  font-family: Poppins;
}
img {
  width: 100%;
}
a {
  font-family: Poppins;
  color: #2C81D0;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #2C81D0;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: #2C81D0;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #778CCC;
}
a:active { /* selected link */
  color: #0031C5;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F9DC4A;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  border-bottom: 0px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover{
  background-color: #FFFFFF
  color: #000000;
}
.button:hover{
  background-color: #FFFFFF
  color: #000000;
}
.button.contact {
  background-color: #2C81D0;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}
.button.contact:hover {
  background-color: ##0031C5;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}
.button.contact:active {
  background-color: ##0031C5;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}
/* Layout Styling */
/*header {
  box-shadow: 0px 4px 5px 0px rgba(249, 220, 74, 0.75);
  position: fixed;
  background-color: #ECEDEF*/
}

.row {
  margin: 25px 0px; /* 25px top and bottom, 0 left and right */
}
#hero {
  text-align: center;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 12px;
  text-transform: uppercase;
  color: #000000;
}
nav > ul > li > a:visited {
  padding: 0 20px;
  text-transform: uppercase;
  color: #000000
}
#hero {
  background-color: #F9DC4A;
  padding: 15px;
  display: inline-block;
}
#hero h1 {
  margin: 0;
  padding: 0.5em 0;
}
main {
  padding-top: 123.03px;
}
.container {
  padding: 15px;
  margin: 0px;
}
.project{
  padding: 10px;
  margin: 20px;
  background-color: white;
  max-width: 500px;
}
.footainer {
  padding: 10px;
  margin: 20px;
}
